In [2]:
import pandas as pd
import numpy as np
import os
import random

from faker import Faker

In [3]:
fake = Faker()

### Creating Synthetic data

In [71]:
def faker_snack_rows(num=1, seed=None):
    
    np.random.seed(seed)
    fake.seed_instance(seed)
    
    #fake.date.between('2015-01-01', '2015-01-05')
    time_gen = fake.time_series(start_date="-10000d", end_date="now", precision=3600)
    itemid = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
    
    output= [
        {
            
            "user_id" : fake.random_int(min=1, max=100),
            "name"    : fake.last_name(),
            "email"   : fake.free_email(),
            "US_state" : np.random.choice(["Texas","NY","WA","SF","MA","IL","FL"]),
            "Gender"   : np.random.choice(["M","F","Not Specified"], p=[0.3,0.6,0.1]),
            "Item_id"  : random.choice(itemid),
            "Rating"   : np.random.choice(np.arange(0,6,1), p=[0.05,0.05,0.5,0.30,0.05,0.05]),
            "datetime" : np.random.choice(next(time_gen))
            
        }
        for x in range(num)
    ]
    return output

In [72]:
df= pd.DataFrame(faker_snack_rows(num=10000, seed=0))
df.head(5)

,user_id,name,email,US_state,Gender,Item_id,Rating,datetime
0,50,Chang,jonathandixon@yahoo.com,MA,F,11,3,2821.67
1,39,Faulkner,patriciarobinson@gmail.com,SF,F,9,3,1993-06-26 14:07:12
2,13,Montgomery,reneemcgrath@hotmail.com,MA,M,10,1,1993-06-26 15:07:12
3,40,Garcia,jeffersonmark@yahoo.com,WA,F,13,3,1993-06-26 16:07:12
4,41,Carr,ylevy@hotmail.com,Texas,F,11,3,1993-06-26 17:07:12

In [64]:
df.to_csv (r'C:\Users\kaviy\Desktop\Assignment4\Data\snack_data.csv', index = False, header=True)